<div class="card ticket" (click)="selectTicket()">
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->
  <h3>Title : {{ticket.title}}</h3>
  <i class="fas fa-calendar-alt"></i> {{ticket.date | date: 'shortTime'}} &nbsp;&nbsp;
  <i class="far fa-user"></i> {{ ticket.student.id }} - {{ticket.student.nom }} {{ticket.student.prenom }}

  <i class="fas fa-bolt" *ngIf="ticket.major == 'GB'"></i>
  <i class="fas fa-check" *ngIf="ticket.major == 'SI'"></i>
    major : {{ticket.major}}
  <button type="button" (click)="archiveTicket()">Archive</button>
  <button type="button" (click)="deleteTicket()">Delete</button>
</div>