<h3>Create a new ticket</h3>
<form class="ticket-form" [formGroup]="ticketForm">
  <label for="title">
    Title <br>
    <input class="input-custom" type="text" id="title" [formControlName]="'title'">
  </label>
  <br>
  <label for="description">
    Description <br>
    <input class="input-custom" type="text" id="description" [formControlName]="'description'">
  </label>
  <br>
  <label for="major">
    Major <br>
    <select class="input-custom lg-select" id="major" [formControlName]="'major'">
      <option value="" selected >choose major</option>
      <option *ngFor="let item of majorFields" [value]="item">
        {{item}}
      </option>
    </select>
  </label>
  <br>
  <label for="student">
    student <br>
    <select class="input-custom lg-select" id="student" formControlName="student">
      <option value="" selected disabled>choose student</option>
      <option *ngFor="let item of studentList" [value]="item.id">
        {{item.id}} - {{item.nom }} {{item.prenom}} 
      </option>
    </select>
  </label>
  <br>
  <button type="submit" class="btn-custom" (click)="addTicket()">Create</button>
</form>

<!-- Uncomment below to see your form structure and how it changes-->
<!--<br><br>{{ticketForm.getRawValue() | json}}-->