<div class="ticket-list">
  <div class="ticket" *ngFor="let ticket of ticketList">
    <!--Inputs & Output allow communication between parent & child components.-->
    <!--More information: https://angular.io/guide/component-interaction-->
    <ng-container *ngIf="!displayTicketArchived; else showAll">
      <ng-container *ngIf="!ticket.archived">
        <app-ticket [ticket]="ticket" (ticketHasBeenSelected)="ticketHasBeenSelected($event)"
          (notifyDelete)="deleteTicket($event)" (notifyArchive)="archiveTicket($event)">
        </app-ticket>
      </ng-container>
    </ng-container>
    <ng-template #showAll>
      <app-ticket [ticket]="ticket" (ticketHasBeenSelected)="ticketHasBeenSelected($event)"
        (notifyDelete)="deleteTicket($event)" (notifyArchive)="archiveTicket($event)">
      </app-ticket>
    </ng-template>
  </div>
  <div>
    <button class="costum-btn" type="button" (click)="hideArchivedTicket()"> hide archived ticket</button>
    <button class="costum-btn" type="button" (click)="showArchivedTicket()">Show archived ticket</button>
  </div>
</div>